<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" colors="true" processIsolation="false" stopOnFailure="false" bootstrap="./vendor/autoload.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
  <testsuites>
    <testsuite name="PHP Excel Creator Test Suite">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
  <logging>
    <junit outputFile="build/logs/junit.xml"/>
  </logging>
  <source>
    <include>
      <directory>.</directory>
    </include>
    <exclude>
      <directory>./docs</directory>
      <directory>./examples</directory>
      <directory>./tests</directory>
      <directory>./vendor</directory>
    </exclude>
  </source>
</phpunit>
